<% banner 'Study Sessions', link_to('Create new Study Sessions', new_study_session_path) %>
           
<% unless @study_sessions.any? %>
<p class="empty">
  No study sessions (yet).  Go on, <%= link_to('create one already!', new_study_session_path) %>
</p>
<% end %>
  
<table id="study_sessions-table">
<% @study_sessions.each do |ss| %>
  <tr>
    <td><%= link_to ss.title, ss %></td>
	<td><%= ss.subject %></td>
	<td><%= time_ago_in_words(ss.starts_at) %></td>
	<td><%= link_to('Join', user_study_sessions_path(:study_session_id => ss.id), :method => :post) %></td>
  </tr>
<% end %>
</table>
